{% extends "base.html" %} 
{% load static from staticfiles %}
{% load thumbnail %}
{% load helpers %}

{% block 'content' %}

<p>{{ subtitle }}</p>

<hr>


    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-5">

{% for person in persons %}
      <div class="business-card">
          <div class="media">
              <div class="media-left avatar">
              {% if person.foto %}              	
              	<img class="img-circle media-object profile-img" width="130" height="130" src="{% thumbnail person.foto 130x130 crop %}" alt="" />
              {% else %}
              	<img class="img-circle media-object profile-img" width="130" height="130" class="media-object profile-img" src="{% static 'images/avatar200x200.png' %}" alt="" />
              {% endif %}         	
              </div>
              <div class="media-body">
              	  <h2>{{ person.last_name }}</h2>
                  <h4 class="media-heading">                  
                  {{ person.first_name }}
                  {{ person.middle_name }}
                  </h4>
                  <div class="job">{{ person.position }}</div>
                  <ul class="list-unstyled">
                  {% for contact in person.contact_set.all %}
                  	<li>                  	
                  	{{ contact.contact|hide_email:contact.type_protocol }}
                  	</li>							
				  {% endfor %}
				  </ul>                        
              </div>
          </div>
      </div>
{% endfor %}

</div>	
</div>


 
{% endblock 'content' %}