<!-- Modal -->
<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-labelledby="feedbackLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <form name="sentMessage" id="contactForm" novalidate>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="feedbackLabel">Ваши замечания и предложения</h4>
      </div>
      <div class="modal-body">
        
        
           <div class="row">               
               <div class="col-md-12">
                   <div class="form-group">
                       <textarea class="form-control" placeholder="Сообщение *" id="message" required data-validation-required-message="Введите сообщение."></textarea>
                       <p class="help-block text-danger"></p>
                   </div>
               </div>               
           </div>      
        
      </div>
      <div class="modal-footer">      	
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>      
        <button id="sendmail" type="submit" class="btn btn-primary">Отправить сообщение</button>
      </div>
    </form>
    </div>
  </div>
</div>